html, body {
  //height: 100%;
  overflow: hidden;
}

body {
  padding: 50px 0 0 0;
}

.body-content {
    padding: 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

div#filter-button {
    position: absolute;
    top: 60px;
    left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

form#filters {
    padding-left: 10px;
    padding-right: 10px;
}

form#filters label, form#filters input, form#filters select {
    width: 100%;
}

.navbar-right {
    margin-right: 15px !important;
}

.normal {
    font-weight: normal;
}
